# SPDX-FileCopyrightText: Copyright (c) <2025> NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0

# Maintain a separate file for free-threading version. This can be removed when ABI environment markers are supported.(PEP 780)
-r requirements-ft.txt

numba-cuda[cu13]==0.30.0
cupy-cuda13x==14.0.1
